[mysqld]
wait_timeout = 600
interactive_timeout = 600
net_read_timeout = 300
net_write_timeout = 300
max_allowed_packet = 128M

# InnoDB ayarları
innodb_buffer_pool_size = 256M  # Bellek boyutunuza göre ayarlayın
innodb_log_buffer_size = 16M
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT

# Bağlantı ayarları
max_connections = 200
thread_cache_size = 10