@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

.web-header{
    width: 90%;
    background-color: #E84049;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    position: relative;
    z-index: 9999;
    margin: 0 auto;
    border-radius: 0 0 40px 40px;
}


.web-header ul li:hover a {
    color: #151010;
}
.header-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #676767;
    padding-bottom: 24px;
}
.header-radio{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top p{
    color: #fff;
    font-weight: 500;
}

.header-bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
}
.header-bottom ul{
    display: flex;
}
.header-bottom ul li {
    list-style-type: none;
    margin-right: 25px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}
.web-header ul li a {
    color: inherit; 
    text-decoration: none;
    transition: color 0.3s ease;
}


.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons-header{
    margin-left: 10px;
    width: 50%;
    display: flex;
}
.icon-header{
    color: #ffffff;
    font-size: 30px;
}
.header-bottom button{
    background-color:transparent;
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 10px 30px;
}
.formButton {
    width: 50%;
}
.formButton:hover{
    background-color: #870b0b;
    border: 1px solid #000;
}
.header-bottom button a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.header-logo{
    position: absolute;
    top: 0;
    left: 47%;
    width: 12%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 0px 0px 40px 0px;
}
.header-logo img{
    width: 100%;
}
.header-logo a{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 768px) {

    .header-logo{
        width: 10%;
        height: 70%;
    }

}


